<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kcc.itmgr.domain.commoncode.dao.ICommonCodeRepository">
	<select id="selectAllCommonCode" resultType="kr.co.kcc.itmgr.domain.commoncode.model.CommonCode">
		SELECT
		    c.code_group_id        AS "codeGroupId",
		    c.code_group_name      AS "codeGroupName",
		    c.use_yn               AS "useYn",
		    COUNT(c.code_group_id) AS "codeDetailCount"
		FROM commoncodedetail cd
		LEFT JOIN commoncode c on cd.code_group_id = c.code_group_id
		GROUP BY c.code_group_id, c.code_group_name, c.use_yn
	</select>
	
	<select id="selectAllCommonCodeDetail" resultType="kr.co.kcc.itmgr.domain.commoncode.model.CommonCodeDetail">
		SELECT
		    detail_code      AS "detailCode",
		    detail_code_name AS "detailCodeName",
		    code_group_id    AS "codeGroupId",
		    use_yn           AS "useYn"
		FROM
		    commoncodedetail
	</select>
	
	<select id="checkIfCodeGroupIdExists" parameterType="String" resultType="int">
		SELECT
		    COUNT(*)
		FROM
		    dual
		WHERE
		    EXISTS (
		        SELECT
		            1
		        FROM
		            commoncode
		        WHERE
		            code_group_id = #{codeGroupId}
		    )
	</select>
	
	<select id="selectCommonCodeBySearch" parameterType="String" resultType="kr.co.kcc.itmgr.domain.commoncode.model.CommonCode">
		SELECT
		    c.code_group_id        AS "codeGroupId",
		    c.code_group_name      AS "codeGroupName",
		    c.use_yn               AS "useYn",
		    COUNT(c.code_group_id) AS "codeDetailCount"
		FROM
		    commoncode c
		LEFT JOIN commoncodedetail cd ON c.code_group_id = cd.code_group_id
		WHERE 
			1 = 1
			<if test='keyword != null or keyword = "" or keyword.length() gte 1'>
				and ( c.code_group_id LIKE '%' || #{keyword} || '%' OR c.code_group_name LIKE '%' || #{keyword} || '%' )
			</if>
			<if test='! useYn.equals("A")'>
				and c.use_yn = #{useYn}
			</if>
		GROUP BY c.code_group_id, c.code_group_name, c.use_yn
	</select>
	
	<select id="selectCommonCodeDetailBySearch" parameterType="String" resultType="kr.co.kcc.itmgr.domain.commoncode.model.CommonCodeDetail">
		SELECT
		    detail_code      AS "detailCode",
		    detail_code_name AS "detailCodeName",
		    code_group_id    AS "codeGroupId",
		    use_yn           AS "useYn"
		FROM
		    commoncodedetail
		WHERE
			1 = 1
			<if test='keyword != null or keyword = "" or keyword.length() gte 1'>
				and (detail_code LIKE '%' || #{keyword} || '%' OR detail_code_name LIKE '%' || #{keyword} || '%' )
			</if>
			<if test='! useYn.equals("A")'>
				and use_yn = #{useYn}
			</if>
	</select>
	
	<select id="selectCommonCodeDetailByCodeGroupId" parameterType="String" resultType="kr.co.kcc.itmgr.domain.commoncode.model.CommonCodeDetail">
		SELECT
		    detail_code      AS "detailCode",
		    detail_code_name AS "detailCodeName",
		    code_group_id    AS "codeGroupId",
		    use_yn           AS "useYn"
		FROM
		    commoncodedetail
        WHERE code_group_id = #{codeGroupId}
	</select>
</mapper>