<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kcc.itmgr.domain.commoncode.dao.ICommonCodeRepository">
	<select id="selectAllCommonCode">
		SELECT
		   code_group_id   AS "codeGroupId",
		   code_group_name AS "codeGroupName",
		   use_yn          AS "useYn"
		FROM
		   commoncode
	</select>
</mapper>