<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kcc.itmgr.domain.employee.dao.IEmployeeRepository">

<select id="selectAllEmployee" resultType = "kr.co.kcc.itmgr.domain.employee.model.Employee">
	<![CDATA[
		SELECT	e.employee_id AS employeeId, 
				e.employee_pwd AS employeePwd,
				e.employee_name AS employeeName,
				(SELECT c.detail_code_name
					FROM commoncodedetail c 
					WHERE c.detail_code = e.employee_type_code) AS employeeType,
				(SELECT c.detail_code_name
					FROM commoncodedetail c 
					WHERE c.detail_code = e.employee_status_code) AS employeeStatus
		FROM employeeinfo e
		WHERE use_yn = 'Y'
		ORDER BY employee_name
	]]>
</select>

<select id="selectSearchEmployee" resultType = "kr.co.kcc.itmgr.domain.employee.model.Employee">
		SELECT	e.employee_id AS employeeId,
				e.employee_pwd AS employeePwd,
    			e.employee_name AS employeeName,
    			(SELECT c.detail_code_name
     				FROM commoncodedetail c
     				WHERE c.detail_code = e.employee_type_code) AS employeeType,
    			(SELECT c.detail_code_name
    				FROM commoncodedetail c
    				WHERE c.detail_code = e.employee_status_code) AS employeeStatus
		FROM employeeinfo e
		WHERE use_yn = 'Y' 
		<if test="employeeTypeCode  != null and employeeTypeCode  != ''">
        	AND e.employee_type_code = #{employeeTypeCode}
    	</if>
    	<if test="employeeStatusCode != null and employeeStatusCode != ''">
    		AND e.employee_status_code = #{employeeStatusCode}
		</if>
		<if test="searchText != null and searchText != ''">
		 	AND (e.employee_id LIKE '%${searchText}%' OR e.employee_name LIKE '%${searchText}%')
		</if>
		ORDER BY employee_name
</select>

<insert id="insertEmployee" parameterType="kr.co.kcc.itmgr.domain.employee.model.Employee">
		<foreach collection="list" item="employee" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
		INTO employeeinfo
			(employee_id, employee_name, employee_status_code, employee_type_code, create_date, creater_id, employee_pwd, use_yn) 
		VALUES 
				(#{employee.employeeId},
				#{employee.employeeName},
				#{employee.employeeStatusCode},
				#{employee.employeeTypeCode},
				SYSDATE,
				'임시생성자ID',
				#{employee.employeePwd},
				'Y')
		</foreach>
</insert>

<update id="deleteEmployeeByUseYN" parameterType="String">
	<![CDATA[
		UPDATE employeeinfo
		SET use_yn = 'N'
		WHERE employee_id=#{employeeId}
	]]>
</update>

<update id="updateEmployee" parameterType="kr.co.kcc.itmgr.domain.employee.model.Employee">
    <foreach collection="list" item="employee" separator=";" open="DECLARE BEGIN" close="; END;">
            UPDATE EMPLOYEEINFO 
            SET 
                employee_name=#{employee.employeeName},
                employee_pwd=#{employee.employeePwd},
                employee_type_code=#{employee.employeeTypeCode}, 
                employee_status_code=#{employee.employeeStatusCode}
            <where>
                employee_id=#{employee.employeeId}
            </where>
    </foreach>
</update>



<select id="commonCodeEmpType" resultType ="kr.co.kcc.itmgr.domain.commoncode.model.CommonCodeDetail">
	<![CDATA[
		SELECT cd.detail_code AS detailCode, cd.detail_code_name AS detailCodeName
		FROM commoncode c, commoncodedetail cd
		WHERE c.code_group_id = cd.code_group_id AND c.code_group_id = 'EMT000'
	]]>
</select>

<select id="commonCodeEmpStatus" resultType ="kr.co.kcc.itmgr.domain.commoncode.model.CommonCodeDetail">
	<![CDATA[
		SELECT cd.detail_code AS detailCode, cd.detail_code_name AS detailCodeName
		FROM commoncode c, commoncodedetail cd
		WHERE c.code_group_id = cd.code_group_id AND c.code_group_id = 'EMS000'
	]]>
</select>

<select id="selectEmployeePwd" resultType = "kr.co.kcc.itmgr.domain.employee.model.Employee">
	<![CDATA[
		SELECT employee_pwd AS employeePwd
		FROM employeeinfo
		WHERE employee_id=#{employeeId}
	]]>
</select>

</mapper>