<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kcc.itmgr.domain.resclass.dao.IResClassRepository">

	<select id="selectAllResClass" resultType="java.util.HashMap" >
		<![CDATA[
			SELECT c.res_class_name "resClassName", 
			       listagg(r.res_class_name, ',') within group(order by r.upper_res_class_id) "resClassName2", r.lv || '' as "lv"
			FROM (
			    SELECT upper_res_class_id, 
			           res_class_name,
			           level as lv 
		        FROM RESCLASS
		        START WITH upper_res_class_id IS NULL
		        CONNECT BY PRIOR res_class_id = upper_res_class_id
			) r
			JOIN RESCLASS c ON r.upper_res_class_id = c.res_class_id
			GROUP BY r.lv, c.res_class_name
			ORDER BY r.lv
		]]>
	</select>
	

</mapper>