<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/nav"></th:block>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<link th:href="@{/css/itres/menutree.css}" rel="stylesheet" />
</head>
<body>
<div  style="margin: 30px 0 0 30px;">
    <div class="row">
        <div class="col-md-4">

            <ul th:each="res:${resClassMap}"class="tree">
                <li>[[${res.key}]]
            </li>
                <ul>
                    <li th:each="rv:${res.value}">[[${rv.key}]]
                        <ul>
                            <li th:each="name:${rv.value}"><a href="#">[[${name}]]</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>

        </div>
    </div>
</div>
<ul th:each="num:${num}">
<li th:text=${num}></li>
</ul> 

<script type="text/javascript" th:src="@{/js/itres/menutree.js}"></script>
</body>
</html>
