<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/nav"></th:block>
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" th:href="@{/css/menutree.css}"/>
</head>
<body>
	<div class="container" style="margin-top:30px;">
    <div class="row">
    	<div class="col-md-8" th:each="resClassList:${resClassList}">
    	     <ul>
                <li th:if="${resClassList.upperResClassId==null}" th:text="${resClassList.resClassName}"/>
             	<ul>
                <li th:if="${resClassList.upperResClassId=='HW_000000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_000000'}" th:text="${resClassList.resClassName}"/>
             	
				<ul>
                <li th:if="${resClassList.upperResClassId=='HW_001000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='HW_002000'}" th:text="${resClassList.resClassName}"/>
				<li th:if="${resClassList.upperResClassId=='HW_003000'}" th:text="${resClassList.resClassName}"/>
				<li th:if="${resClassList.upperResClassId=='HW_004000'}" th:text="${resClassList.resClassName}"/>
				<li th:if="${resClassList.upperResClassId=='HW_005000'}" th:text="${resClassList.resClassName}"/>
				<li th:if="${resClassList.upperResClassId=='HW_006000'}" th:text="${resClassList.resClassName}"/>							
				<li th:if="${resClassList.upperResClassId=='SW_001000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_002000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_003000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_004000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_005000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_006000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_007000'}" th:text="${resClassList.resClassName}"/>			
				<li th:if="${resClassList.upperResClassId=='SW_008000'}" th:text="${resClassList.resClassName}"/>			
				</ul>
			</ul>
			</ul>
		</div>
	</div>
	</div>

</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
$.fn.extend({
    treed: function (o) {
      
      var openedClass = 'glyphicon-minus-sign';
      var closedClass = 'glyphicon-plus-sign';
      
      if (typeof o != 'undefined'){
        if (typeof o.openedClass != 'undefined'){
        openedClass = o.openedClass;
        }
        if (typeof o.closedClass != 'undefined'){
        closedClass = o.closedClass;
        }
      };
      
        //initialize each of the top levels
        var tree = $(this);
        tree.addClass("tree");
        tree.find('li').has("ul").each(function () {
            var branch = $(this); //li with children ul
            branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
            branch.addClass('branch');
            branch.on('click', function (e) {
                if (this == e.target) {
                    var icon = $(this).children('i:first');
                    icon.toggleClass(openedClass + " " + closedClass);
                    $(this).children().children().toggle();
                }
            })
            branch.children().children().toggle();
        });
        //fire event from the dynamically added icon
      tree.find('.branch .indicator').each(function(){
        $(this).on('click', function () {
            $(this).closest('li').click();
        });
      });
        //fire event to open branch if the li contains an anchor instead of text
        tree.find('.branch>a').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
        //fire event to open branch if the li contains a button instead of text
        tree.find('.branch>button').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
    }
});

//Initialization of treeviews

$('#tree1').treed();

$('#tree2').treed({openedClass:'glyphicon-folder-open', closedClass:'glyphicon-folder-close'});

$('#tree3').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});
</script>
</html>