/* .table-container {
	max-height: 700px;
	overflow-y: auto;
	position: relative;
	width: 100%;
	white-space: nowrap;
}

.table-container table {
	width: 100%;
	table-layout: fixed;
}


.table-container table thead th{
	position: sticky;
	top: 0;
	background-color: #7289AB; 
	color : white;
	z-index: 1;
}
 */
 
 .table-container {
    max-height: 700px; /* 원하는 높이 설정 */
    overflow-y: auto;
    position: relative;
    width: 100%;
    white-space: nowrap;
}

.table-container table {
    width: 100%;
    table-layout: fixed;
}

.table-container table thead th {
    position: sticky;
    top: 0;
    background-color: #7289AB;
    color: white;
    z-index: 1;
}

 


.col-checkbox {
    width: 20px;
}

.col-status {
    width: 30px;
}

.col-sn {
    width: 30px;
}

.col-name {
    width: 100px;
}

.col-desc {
    width: 200px;
}

.col-useYN {
    width: 50px;
} 

#p-addItemUseYN {
	margin-right: 5px;
	align-self: flex-start; /* 사용여부 줄만 위쪽으로 맞춥니다. */
}

#p-addItemName {
	margin-left: 13px; 
	margin-right: 5px;
}

.addItemSerachLabel {
	margin-right: 5px;
	margin-top: -2px;
}


#addItemSearchText {
	margin-right: 300px;
}


.btn {
	float: right; 
	margin-left: 10px;
}

.addItemSerach {
	display: flex;
	align-items: flex-start; /* 요소들을 수직 맞춤합니다. */
	flex-direction: row;
	white-space: nowrap;
	margin-top: 20px;
}

.addItemSerachLabel{
	margin-top:1px;
}

#addItemSearchText{
	margin-top:-3px;	
}
.addItemSerachspan{
	margin-left:2px;
}
