<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="../common/layout/default">
<head>
<meta charset="UTF-8">
<style>
.containers {
	margin-left: 250px;
	font-size: 12px;
}
h1{
	font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}
.page-title-container {
	margin: 80px 0 0 0;
	padding: 20px 0 10px 0;
	text-align: left;
}

.place-name-text {
	margin: 15px 5px 15px 0;
	padding: 2px 5px 2px 5px;
}

.search-container {
	text-align: left;
}

.place {
	text-align: center;
	height: 110vh;
	width: 75vw;
	margin-left: 10em;
}

.place-list-table-container {
	font-size: 12px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.address-container, .resinfo-container {
	margin-top: 20px; /* 주소 입력창과의 간격 조정 */
}

.address-container, .place-list-container {
	text-align: left;
}
/* Style the address-map-container */
.address-map-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	/* Add some spacing between the address container and the map container */
	width: 20vw;
}

.resinfo-container {
	flex: 3;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.place-list-container h2 {
	font-size: 16px;
}

.resinfo-container h2 {
	text-align: left;
	font-size: 16px;
	margin-bottom: 10px;
}
/* Style the heading */
.address-container h2 {
	font-size: 16px;
	margin-bottom: 10px;
}

/* Style the input fields */
.input-box {
	width: 100%;
	margin-bottom: 5px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
}

.zip-code-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: flex-start;
	align-items: center;
}
/* Style the "주소 찾기" button */
.find-postcode-btn {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 8px 12px;
	margin: 5px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease-in-out;
}

.find-postcode-btn:hover {
	background-color: #0056b3;
}

/* Style the address-map-container */
.address-map-container {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;
	width: 100%;
}

/* Style the address container */
.address-container {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Style the input fields */
.address-input-box {
	width: 100%;
	margin-bottom: 5px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 1em;
}

#zip-code {
	width: 30%;
	margin: 0.1em 0 0 0;
}

/* Style the map container */
.map {
	flex: 1;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.table {
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.fixed-header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

.place-table-container, .resinfo-table-container {
	max-height: 30em; /* 원하는 높이로 조절 */
	overflow-y: auto; /* 세로 스크롤 표시 */
	height: 60%;
}

input[type="button"] {
	padding: 2px 2px;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}
.paging-nav{
	text-align:center;
}
</style>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28bed2e7a81023c99f56920a94503f99&libraries=services"></script>
</head>
<th:block layout:fragment="content">
	<div class="containers">
	<div style="margin: 90px 0 0 120px;">
			<h1>설치 장소</h1>
		    <nav>
		      <ol class="breadcrumb">
		        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		        <li class="breadcrumb-item active">설치 장소 관리</li>
		      </ol>
		    </nav>
	</div>
		<div class="place place-container" id="place-list">
			<div class="place-list-table-container">
				<div class="search-container">
					<div class="common-btn">
						<input id="search-btn" type="button" value="조회"> <input
							type="button" id="new-address" value="신규"> <input
							type="button" id="edit-address" value="저장">
					</div>
					<span>설치 장소명</span> <input class="place-name-text" type="text"
						placeholder="장소명 입력">
				</div>
				<div style="text-align: left;">
					<div>
						<input type="button" id="delete-address" value="행삭제">
					</div>
				</div>
				<div class="place-table-container">
					<table class="table table-striped table-hover">
						<thead class="fixed-header">
							<tr>
								<th scope="col">번호</th>
								<th scope="col">선택</th>
								<th scope="col">설치 장소명</th>
								<th scope="col" class="text-left">주소</th>
								<th scope="col">상세 주소</th>
								<th scope="col">자원 수</th>
								<th scope="col">상세 조회</th>
							</tr>
						</thead>
						<tbody class="place-table-body">
							<tr th:each="installPlace, i : ${installPlace}">
								<td class="place-count" th:text="${i.count}"></td>
								<td><input type="checkbox" name="installPlaceSn"
									class="place-sn" th:value="${installPlace.installPlaceSn}"></td>
								<td class="place-name"
									th:text="${installPlace.installPlaceName}"></td>
								<td class="place-address text-left"
									th:text="${installPlace.installPlaceAddress}"></td>
								<td th:if="${installPlace.installPlaceDetailAddress == null}"
									class="place-detail-address">-</td>
								<td th:if="${installPlace.installPlaceDetailAddress != null}"
									class="place-detail-address"
									th:text="${installPlace.installPlaceDetailAddress}"></td>
								<td class="place-res-count" th:text="${installPlace.resCount}"></td>
								<td><input type="button" class="resinfo-btn" value="상세 조회"
									th:data-place-name="${installPlace.installPlaceName}"></td>
							</tr>
						</tbody>
					</table>
					<input type="hidden" class="search-type" value="">
					<nav aria-label="Page navigation example" class="paging-nav">
						<ul class="pagination place-pagination justify-content-center">
							<li class="page-item">
								<button class="page-link prev-page-link" aria-label="Previous" value="0"> 
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</button>
							</li>
							<li class="page-item"
								th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}">
								<button class="page-link page-link-val" th:text="${pageNum}">1</button>
							</li>
							<li class="page-item">
								<button class="page-link next-page-link" aria-label="Next" value="6"> 
									<span aria-hidden="true">&raquo;</span> 
									<span class="sr-only">Next</span>
								</button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- 상세 장소 및 설치 장소 등록 -->
			<div class="address-map-container">
				<div class="address-container">
					<form id="place-address-form">
						<div>
							<span>설치 장소명</span> <input type="hidden" name="flag" id="flag"
								value=""> <input type="hidden" name="installPlaceSn"
								id="install-place-sn" value=""> <input type="text"
								name="installPlaceName" id="detail-place-name"
								class="address-input-box input-box detail-place-name"
								placeholder="설치 장소명">
						</div>
						<span>상세 주소</span>
						<div class="zip-code-container">
							<input type="text" name="installPlacePostno" id="zip-code"
								class="address-input-box input-box" placeholder="우편번호" readonly>
							<input type="button" class="find-postcode-btn" value="주소 찾기">
						</div>
						<input type="hidden" name="latitude" id="latitude" value="">
						<input type="hidden" name="longitude" id="longitude" value="">
						<input type="text" name="installPlaceAddress"
							id="road-name-address" class="address-input-box input-box"
							placeholder="도로명주소" readonly> <input type="text"
							name="installPlaceDetailAddress" id="detail-address"
							class="address-input-box input-box" placeholder="상세주소">
						<div id="map" class="map"></div>
					</form>
				</div>
				<!-- 자원 정보 -->
				<div class="resinfo-container">
					<div class="resinfo-table-container">
						<table class="resinfo-table table table-striped">
							<thead>
								<tr>
									<th>자원명</th>
									<th>IP</th>
									<th>IP 종류</th>
									<th>자원 상태</th>
									<th>자원 분류</th>
									<th>랙 정보</th>
									<th>관리 부서</th>
								</tr>
							</thead>
							<tbody class="resinfo-table-body">
								<tr>
									<th colspan="7">장소명을 클릭하세요.</th>
								</tr>
							</tbody>
						</table>
						<input type="hidden" class="res-search-type" value="">
						<nav aria-label="Page navigation example" class="paging-nav">
							<ul class="pagination res-pagination justify-content-center">
								<!-- <li class="page-item">
									<button class="page-link res-prev-page-link" aria-label="Previous" value="0"> 
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</button>
								</li>
								<li class="page-item"
									th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}">
									<button class="page-link res-page-link-val" th:text="${pageNum}">1</button>
								</li>
								<li class="page-item">
									<button class="page-link res-next-page-link" aria-label="Next" value="6"> 
										<span aria-hidden="true">&raquo;</span> 
										<span class="sr-only">Next</span>
									</button>
								</li> -->
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/assets/js/main.js}"></script>
	<script>
$(document).ready(function(){
	// 장소명으로 검색	
	$("#search-btn").click(() => {
		var keyword = $(".place-name-text").val();
		
		if(keyword == ""){
			alert("장소명을 입력하세요.");
			return;
		}
		
		$.ajax({
			method: "GET",
			url: "installplace/search",
			data: {
				keyword: keyword
			},
			success: function(response){
				updateInstallPlace(response.installPlace);
				$(".search-type").val(keyword);
				installPlacePaging(response.paging);
				removePlaceDetail();
				removeResInfo();
				const result = "<tr>" + "<td colspan='7' style='text-align:center; font-weight: bold;'>" + "장소명을 클릭하세요." + "</td>" + "</tr>";
				$(".resinfo-table-body").append(result);
			},
			error: function(xhr, status, err){
				alert("error: " + err);
			}
		})
	})
	
	function installPlacePaging(paging) {
	    var pagination = $(".place-pagination");
	    pagination.empty();
	    
	    pagination.append(`<li class='page-item'><button class='page-link prev-page-link' value="${paging.startPage - 1}" aria-label='Previous'>&laquo;</button></li>`);
	    
	    for (var pageNum = paging.startPage; pageNum <= paging.endPage; pageNum++) {
	        pagination.append("<li class='page-item'><button class='page-link page-link-val'>" + pageNum + "</button></li>");
	    }
	    
	    pagination.append(`<li class='page-item'><button class='page-link next-page-link' value="${paging.endPage + 1}" aria-label='Next'>&raquo;</button></li>`);

	    // 이전 페이지가 없는 경우 이전 버튼 비활성화
	    if (paging.startPage === 1 || $(".prev-page-link").val() === 0) {
	        pagination.find(".prev-page-link").prop("disabled", true);
	    }
	    
	    // 다음 페이지가 없는 경우 다음 버튼 비활성화
	    if (paging.endPage === paging.totalPageCount) {
	        pagination.find(".next-page-link").prop("disabled", true);
	    }
	}
	
	function resInfoPaging(paging){
		var pagination = $(".res-pagination");
	    pagination.empty();
	    
	    pagination.append(`<li class='page-item'><button class='page-link res-prev-page-link' value="${paging.startPage - 1}" aria-label='Previous'>&laquo;</button></li>`);
	    
	    for (var pageNum = paging.startPage; pageNum <= paging.endPage; pageNum++) {
	        pagination.append("<li class='page-item'><button class='page-link res-page-link-val'>" + pageNum + "</button></li>");
	    }
	    
	    pagination.append(`<li class='page-item'><button class='page-link res-next-page-link' value="${paging.endPage + 1}" aria-label='Next'>&raquo;</button></li>`);

	    // 이전 페이지가 없는 경우 이전 버튼 비활성화
	    if (paging.startPage === 1 || $(".res-prev-page-link").val() === 0) {
	        pagination.find(".res-prev-page-link").prop("disabled", true);
	    }
	    
	    // 다음 페이지가 없는 경우 다음 버튼 비활성화
	    if (paging.endPage === paging.totalPageCount) {
	        pagination.find(".res-next-page-link").prop("disabled", true);
	    }
	}
	
	$(".pagination").on("click", ".page-link-val", function(){
		var page = $(this).text();
		var searchType = $(".search-type").val();
		
		if(searchType === "" || searchType === "undefined"){
			searchType = "ALL"
		}
		
		$.ajax({
			method: "GET",
			url: "/installPlace/" + page,
			data: {
				searchType: searchType
			},
			success: function(response){
				console.log(response);
				updateInstallPlace(response);
			},
			error: function(xhr, status, err){
				console.log(err);
			}
		});
	});
	
	// 이전 페이지 클릭
	$(".pagination").on("click", ".prev-page-link", function(){
		var prevEndPage = $(this).val();
		console.log(prevEndPage);
		var searchType = $(".search-type").val();
		if(searchType === "" || searchType === "undefined"){
			searchType = "ALL"
		}
		console.log(searchType);
		$.ajax({
			method: "GET",
			url: "/installplace/prev/" + prevEndPage,
			data: {
				searchType: searchType
			},
			success: function(response){
				console.log(response);
				updateInstallPlace(response.installPlace);
				installPlacePaging(response.paging);
			},
			error: function(xhr, status, err){
				console.log(err)
			}
		})
	});
	
	// 다음 페이지 클릭
	$(".pagination").on("click", ".next-page-link", function () {
		var nextStartPage = $(this).val();
		console.log(nextStartPage);
		var searchType = $(".search-type").val();
		if(searchType === "" || searchType === "undefined"){
			searchType = "ALL"
		}
		$.ajax({
			method: "GET",
			url: "/installplace/next/" + nextStartPage,
			data: {
				searchType: searchType
			},
			success: function(response){
				console.log(response);
				updateInstallPlace(response.installPlace);
				installPlacePaging(response.paging);
			},
			error: function(xhr, status, err){
				console.log(err);
			}
		})
	});
	
	// 자원 페이지 클릭
	$(".res-pagination").on("click", ".res-page-link-val", function(){
		var page = $(this).text();
		var resSearchType = $(".res-search-type").val();
		$.ajax({
			method: "GET",
			url: "/installplace/resinfo/" + page,
			data: {
				resSearchType: resSearchType
			},
			success: function(response){
				console.log(response);
				updateResInfo(response.resInfo);
			},
			error: function(xhr, status, err){
				console.log(err);
			}
		})
	})
	
	$(".res-pagination").on("click", ".res-next-page-val", function(){
		var nextStartPage = $(this).val();
		console.log(this.classList[1]);
		var resSearchType = $(".res-search-type").val();
		$.ajax({
			method: "GET",
			url: "/installplace/resinfo/" + nextStartPage,
			data: {
				resSearchType: resSearchType
			},
			success: function(response){
				console.log(response);
				updateResInfo(response.resInfo);
				resInfoPaging(response.paging);
			}
		});
	});
	
	$(".res-pagination").on("click", ".res-prev-page-val", function(){
		var page = $(this).val();
		var prevStartPage = page - 4;
		$.ajax({
			method: "GET",
			url: "/installplace/resinfo/" + prevStartPage,
			data: {
				resSearchType: resSearchType
			},
			success: function(response){
				console.log(response);
				updateResInfo(response.resInfo);
				resInfoPaging(response.paging);
			}
		});
	})
	
	function removePlaceTable(){
		$(".place-table-body tr").remove();
	}
	
	function updateInstallPlace(place) {
	    removePlaceTable();
	    if (place.length < 1) {
	        alert("조회된 장소 결과가 없습니다.");
	        const result = "<tr>" + "<td colspan='6' style='text-align:center; font-weight: bold;'>" + "검색된 결과가 없습니다." + "</td>" + "</tr>";
	        $(".place-table-body").append(result);
	    } else {
	        for (var i = 0; i < place.length; i++) {
	            var newRow = $("<tr>");
	            const placeCount = $("<td>").text(place[i].rn);
	            const checkbox = $("<td>").append($("<input>").attr({
	                type: "checkbox",
	                value: place[i].installPlaceSn,
	                class: "place-sn"
	            }));
	            const placeName = $("<td>").addClass("place-name").text(place[i].installPlaceName);
	            const placeAddress = $("<td>").addClass("place-address text-left").text(place[i].installPlaceAddress);
	            
	            const installPlaceDetailAddress = place[i].installPlaceDetailAddress || "-";
	            const placeDetailAddress = $("<td>").addClass("place-detail-address").text(installPlaceDetailAddress);
	            
	            const placeResCount = $("<td>").addClass("place-res-count").text(place[i].resCount);
				const resInfoBtn = $("<td>").append($("<input>").attr({
					type: "button",
					class: "resinfo-btn",
					value: "상세 조회",
					"data-place-name": place[i].installPlaceName
				}))
				
	            newRow.append(placeCount);
	            newRow.append(checkbox);
	            newRow.append(placeName);
	            newRow.append(placeAddress);
	            newRow.append(placeDetailAddress);
	            newRow.append(placeResCount);
	            newRow.append(resInfoBtn);
	            $(".place-table-body").append(newRow);
	        }
	        alert("성공적으로 조회되었습니다.");
	    }
	    return;
	}
	
	$(".place-sn").on("change", function() {
	    if ($(this).prop("checked")) {
	        $(".place-sn").not(this).prop("checked", false);
	    }
	});
	
	// 설치장소명으로 매핑된 자원, 상세 주소 조회
	$(".place-list-table-container").on("click", ".resinfo-btn", function(){
		unCheckbox();
        var row = $(this).closest("tr");

        // 해당 행의 체크박스를 찾기 (class="place-sn"인 체크박스를 찾습니다)
        var checkbox = row.find(".place-sn");

        // 체크박스를 선택/해제하기
        checkbox.prop("checked", !checkbox.prop("checked"));
        
	    const placeName = $(this).data("place-name");
	    $.ajax({
	        method: "GET",
	        url: "/installplace/resinfo",
	        data: {
	            placeName: placeName
	        },
	        success: function(response){
	        	updateResInfo(response.resInfo);
	        	updateAddressInfo(response.installPlace);
	        	if(response.paging.endPage === 0){
	        		var pagination = $(".res-pagination");
	        	    pagination.empty();
	        	    $(".res-search-type").val("");
	        		return;
	        	}
	        	resInfoPaging(response.paging);
	        	$(".res-search-type").val(placeName);
	        },
	        error: function(xhr, status, err){
	            alert("Error", err)
	        }
	    });
	});
	
	$(".place-table-container").on("click",".place-name", function() {
		var placeName = $(this).text();
		console.log(placeName);
		$.ajax({
	        method: "GET",
	        url: "/installplace/resinfo",
	        data: {
	            placeName: placeName
	        },
	        success: function(response){
	        	updateResInfo(response.resInfo);
	        	updateAddressInfo(response.installPlace);
	        },
	        error: function(xhr, status, err){
	            alert("Error", err)
	        }
	    });
	});
	
	// 자원 정보 테이블 초기화
	function removeResInfo(){
		$(".resinfo-table-body tr").remove();
	}
	
	// 자원 정보 업데이트
	function updateResInfo(resInfo){
		removeResInfo();
		if(resInfo.length < 1 || resInfo[0] === null){
        	const result = "<tr>" + "<td colspan='7' style='text-align:center; font-weight: bold;'>" + "매핑된 자원이 없습니다." + "</td>" + "</tr>";
        	$(".resinfo-table-body").append(result);
        	return;
        }
        
        for(var i = 0; i < resInfo.length; i++){
        	var newRow = $("<tr>");
        	var ip;
        	var ipTypeCodeName;
        	const resName = $("<td>").text(resInfo[i].resName).attr({
                class: "res-name",
                "data-install-place-sn": resInfo[i].installPlaceSn
            });
        	if(resInfo[i].ip === null){
        		ip = $("<td>").text("-").attr({
        			class: "ip",
        			"data-ip-sn": ""
        		})
        	}else{
	            ip = $("<td>").text(resInfo[i].ip).attr({
	                class: "ip",
	                "data-ip-sn": resInfo[i].ipSn
	            });
	        }
        	if(resInfo[i].ipTypeCodeName === null){
            	ipTypeCodeName = $("<td>").text("-").addClass("ip-type-code-name");
        	}else{
            	ipTypeCodeName = $("<td>").text(resInfo[i].ipTypeCodeName).addClass("ip-type-code-name");
        	}
            const resStatusCodeName = $("<td>").text(resInfo[i].resStatusCodeName).addClass("res-status-code-name");
            const resClassName = $("<td>").text(resInfo[i].resClassName).addClass("res-class-name");
            const rackInfo = $("<td>").text(resInfo[i].rackInfo).addClass("rack-info");
            const mgmtDeptName = $("<td>").text(resInfo[i].mgmtDeptName).addClass("mgmt-dept-name");

            newRow.append(resName);
            newRow.append(ip);
            newRow.append(ipTypeCodeName);
            newRow.append(resStatusCodeName);
            newRow.append(resClassName);
            newRow.append(rackInfo);
            newRow.append(mgmtDeptName);
        	$(".resinfo-table-body").append(newRow);
        }
	}
	
	// 상세 주소 업데이트
	async function updateAddressInfo(place){
		try {
		    const placeSn = place.installPlaceSn;
		    const placeName = place.installPlaceName;
		    const placePostno = place.installPlacePostno;
		    const placeAddress = place.installPlaceAddress;
		    const placeDetailAddress = place.installPlaceDetailAddress;
		    var longitude = place.longitude;
			var latitude = place.latitude;
			
			$("#flag").val(placeSn);
			$("#install-place-sn").val(placeSn);
		    $("#detail-place-name").val(placeName)
		    $("#zip-code").val(placePostno);
		    $("#road-name-address").val(placeAddress);
		    $("#detail-address").val(placeDetailAddress);
		    
		    const coord = await updateMap(placeAddress, placeName);
	    } catch (error) {
	        console.error(error);
	    }
	}

	// 지도 업데이트
	async function updateMap(placeAddress, placeName){
	    return new Promise((resolve, reject) => {
	        var mapContainer = document.getElementById('map'); // 지도를 표시할 div 
	        var mapOption = {
	            center: new kakao.maps.LatLng(0, 0), // 지도의 중심좌표
	            level: 3 // 지도의 확대 레벨
	        };  

	        // 지도를 생성합니다    
	        var map = new kakao.maps.Map(mapContainer, mapOption); 

	        // 주소-좌표 변환 객체를 생성합니다
	        var geocoder = new kakao.maps.services.Geocoder();

	        // 주소로 좌표를 검색합니다
	        geocoder.addressSearch(placeAddress, function(result, status) {
	            // 정상적으로 검색이 완료됐으면 
	            if (status === kakao.maps.services.Status.OK) {
	                const coords = new kakao.maps.LatLng(result[0].y, result[0].x);
	                var coord = {
	                		latitude: coords.getLat(), 
	                		longitude: coords.getLng()
	                }
	                // 결과값으로 받은 위치를 마커로 표시합니다
	                var marker = new kakao.maps.Marker({
	                    map: map,
	                    position: coords
	                });

	                // 인포윈도우로 장소에 대한 설명을 표시합니다
	                var infowindow = new kakao.maps.InfoWindow({
	                    content: `<div style="width:150px;text-align:center;padding:6px 0;font-weight:bolder;">${placeName}</div>`
	                });
	                infowindow.open(map, marker);

	                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
	                map.setCenter(coords);
	                $("#latitude").val(coord.latitude);
	    		    $("#longitude").val(coord.longitude);
	                resolve(coord);
	            } else {
	                reject(status); // 오류 상태를 reject
	            }
	        });
	    });
	}
	
	// 장소명을 입력 했을 때 주소가 있다면 실시간으로 장소명이 바뀌도록 
	$(".address-container").on("input", "#detail-place-name", function(){
		var placeName = $(this).val();
		var placeAddress = $("#road-name-address").val();
		if(placeAddress === ""){
			return;
		}
		updateMap(placeAddress,placeName);
	});
	
	// 주소 찾기	
	$(".address-container").on("click", ".find-postcode-btn", findAddress);
	
	// 주소 찾기 
	async function findAddress(){
		try{
		    var result = await openPostcode();
			
			$("#zip-code").val(result.zonecode);
	        const postNo = result.zonecode;
	        
	        $("#road-name-address").val(result.roadAddress);
	        const placeAddress = result.roadAddress;
	        
	        var placeName = $("#detail-place-name").val();
	        if(placeName === undefined || placeName === ""){
	        	placeName = "설치 장소명";
	        }
	        
	        const coord =  await updateMap(placeAddress, placeName);


		}catch(err){
			console.log(err);
		}
	}
	
	// 주소 창 열기
	function openPostcode(){
	    return new Promise((resolve, reject) => {
	        new daum.Postcode({
	            oncomplete: function(data) {
	            	var result = {
	            			zonecode: data.zonecode,
	            			roadAddress: data.roadAddress
	            	}
	                resolve(result);
	            }
	        }).open();
	    })
	}
	
	// 신규 버튼 클릭 시 상세 주소 칸 초기화
	$("#new-address").click(() => {
		$(".res-search-type").val("");
		removePlaceDetail();
		removeResInfo();
		const result = "<tr>" + "<td colspan='7' style='text-align:center; font-weight: bold;'>" + "장소명을 클릭하세요." + "</td>" + "</tr>";
		$(".resinfo-table-body").append(result);
	});
	
	// 상세 주소 지우기
	function removePlaceDetail(){
		$("#place-address-form")
			.find("input")
		    .not("[type='button']") 
		    .val('');		
		$("#map").empty();
		$("#map").removeAttr("style");
	}
	
	$("#edit-address").click(() => {
		const flag = $("#flag").val();
		saveAddress(flag);
	});
	
	async function saveAddress(flag){
		// 빈 칸 확인
	    var isValid = true; // 빈 칸 여부를 나타내는 플래그
	    // "installPlaceDetailAddress" 필드를 제외한 다른 필드를 검사
	    $("#place-address-form input[type='text']").not("[name='installPlaceDetailAddress']").each(function() {
	        var inputValue = $(this).val();
	        if (inputValue.trim() === "") { // 입력 값이 공백이라면
	            isValid = false; // 플래그를 false로 설정
	            return false; // 각각의 입력 필드를 검사 중단
	        }
	    });

	    if (!isValid) {
	        alert("장소명과 주소를 모두 입력하세요.");
	        return; // 빈 칸이 있으면 함수 종료
	    }
		
		var formData = new FormData($("#place-address-form")[0]);
		var installPlaceJSON = {};
		formData.forEach(function(value, key){
		    installPlaceJSON[key] = value;
		});

		var installPlace = JSON.stringify(installPlaceJSON);
		var installPlaceSn = installPlaceJSON.installPlaceSn;
		var installPlaceName = installPlaceJSON.installPlaceName;
		
		// 신규일 경우
		if(flag === ""){
			$.ajax({
				method: "POST",
				url: "/detailaddress",
				data: installPlace,
				contentType: "application/json",
				success: function(response){
					if(response.code === 400){
						alert(`${response.message}`);
						return;
					}
					alert(`${response.message}`);
					var placesn = installPlaceJSON.installPlaceSn
					
					console.log(placesn);
					
					updateInstallPlace(response.data);
					installPlacePaging(response.paging);
					$(".search-type").val("");
					$("#flag").val(`${placesn}`);
				},
				error: function(xhr, status, err){
					alert(err);
				}
			})
		}
		else{ // 수정일 경우
			var placesn = installPlaceJSON.installPlaceSn
			$.ajax({
				method: "POST",
				url: `/detailaddress/${placesn}`,
				data: installPlace,
				dataType: "JSON",
				contentType: "application/json",
				success: function(response){
					console.log(response);
					if(response.code === 400){
						alert(`${response.message}`);
						return;
					}
					alert(`${response.message}`);
					updateInstallPlace(response.data);
					installPlacePaging(response.paging);
					$("#flag").val("");
				},
				error: function(xhr, status, err){
					alert(err);
				}
			})
		}
	}
	
	function unCheckbox(){
		const checkedCheckboxes = $(".place-sn:checked"); // 체크된 체크박스 선택
	    const checkedValues = checkedCheckboxes.map(function() {
	        return this.value;
	    }).get(); // 체크된 체크박스의 값을 배열로 추출

	    // 체크된 체크박스 해제
	    checkedCheckboxes.prop("checked", false);
	}
	
	// 행 클릭 시 체크 박스  
	$(".place-table-body").on("click","tr", function(){
		unCheckbox();
        var row = $(this).closest("tr");

        // 해당 행의 체크박스를 찾기 (class="place-sn"인 체크박스를 찾습니다)
        var checkbox = row.find(".place-sn");
		console.log(checkbox);
        // 체크박스를 선택/해제하기
        checkbox.prop("checked", !checkbox.prop("checked"));
        
	    const placeName = row.find(".place-name").text();
	    console.log(placeName);
	    $.ajax({
	        method: "GET",
	        url: "/installplace/resinfo",
	        data: {
	            placeName: placeName
	        },
	        success: function(response){
	        	updateResInfo(response.resInfo);
	        	updateAddressInfo(response.installPlace);
	        	if(response.paging.endPage === 0){
	        		var pagination = $(".res-pagination");
	        	    pagination.empty();
	        	    $(".res-search-type").val("");
	        		return;
	        	}
	        	resInfoPaging(response.paging);
	        	$(".res-search-type").val(placeName);
	        },
	        error: function(xhr, status, err){
	            alert("Error", err)
	        }
	    });
    });
	
	$("#delete-address").click(() => {
		const checkedCheckbox = $(".place-sn:checked");
	    
	    if (checkedCheckbox.length === 0) {
	        alert("삭제할 주소를 선택하세요.");
	        return;
	    }

	    const placesn = checkedCheckbox.eq(0).val(); // 첫 번째 체크된 요소의 값만 가져오기

	    const resCount = checkedCheckbox.closest('tr').find('.place-res-count').text();

	    if (resCount !== '0') {
	        alert("자원이 존재하므로 삭제가 불가능합니다.");
	        return;
	    }
	    
    	$.ajax({
    		method: "POST",
    		url: "/delete/place",
    		data: {
    			placesn:placesn
    		},
    		success: function(response){
    			alert("주소 삭제 완료");
    			console.log(response);
    			updateInstallPlace(response.installPlace);
    			installPlacePaging(response.paging);
    			removePlaceDetail();
    			unCheckbox();
    		},
    		error: function(xhr, status, err){
    			alert(err)
    		}
    		
    	})
    });
})
</script>
</th:block>
</html>