<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="../common/layout/default">
<head>
<meta charset="UTF-8">
<style>
.place-map-container {
	margin: 20px 20px 0 10px;
	display: flex;
	width: 80vw;
}

#map {
	width: 45%;
	height: 90vh;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.place-list-container {
	width: 50%;
	margin: 10px 0 0 10px;
	padding: 0 0 0 10px;
}

.place-table {
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
</style>
</head>
<th:block layout:fragment="content">
	<div class="container">
		<div class="place-map-container">
			<div id="map"></div>
			<div class="place-list-container">
				<div>
					<input type="button" class="group-do" value="도 별로">
				</div>
				<select>
					<option>전체</option>
					<option>경기도</option>
					<option>강원도</option>
					<option>서울</option>
				</select>
				<table class="table table-striped place-table">
					<thead>
						<tr>
							<th>번호</th>
							<th>설치 장소명</th>
							<th>우편번호</th>
							<th>주소</th>
							<th>상세 주소</th>
							<th>장비 개수</th>
							<th>상세 보기</th>
						</tr>
					</thead>
					<tbody class="place-table-body">
						<tr th:each="place, i : ${place}">
							<td class="place-count" th:text="${i.count}"></td>
							<td class="place-name" th:text="${place.installPlaceName}"></td>
							<td class="place-name" th:text="${place.installPlacePostno}"></td>
							<td class="place-address" th:text="${place.installPlaceAddress}"></td>
							<td class="place-detail-address"
								th:text="${place.installPlaceDetailAddress}"></td>
							<td class="place-res-count" th:text="${place.resCount}"></td>
							<td><input name="search" type="button" value="조회"
								class="place-detail-btn"> <input name="placesn"
								class="place-sn" type="hidden"
								th:value="${place.installPlaceSn}"> <input type="hidden"
								class="latitude" th:value="${place.latitude}"> <input
								type="hidden" class="longitude" th:value="${place.longitude}">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28bed2e7a81023c99f56920a94503f99&libraries=services,clusterer"></script>
	<script th:inline="javascript">
var places = `[[${place}]]`;
$(document).ready(function(){
	
	var mapContainer = document.getElementById('map'); // 지도를 표시할 div 요소
    var mapOption = {
        center: new kakao.maps.LatLng(36.5, 127.5), // 지도 중심 좌표
        level: 12 // 지도 확대 레벨
    };
    // 지도를 생성합니다.
    var map = new kakao.maps.Map(mapContainer, mapOption);
 // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    
    var allMarkers = [];
	var regions = JSON.parse(places);
	var clusterers = groupDo(regions);
	clusterEvent(clusterers);
	markerClickEvent(allMarkers);
	
	function clusterEvent(clusterers){
		for (var groupName in clusterers) {
	        kakao.maps.event.addListener(clusterers[groupName], 'clusterclick', function(cluster) {
	        	var markers = cluster._clusterer._markers;
	        	var placeName = {};
	        	placeName[groupName] = [];
	        	for(var i=0; i<markers.length; i++){
	        		placeName[groupName].push(markers[i].Gb);
	        	}
	        	console.log(placeName[groupName]);
	        	
	        	var placeNameList = placeName[groupName];
	        	var jsonData = JSON.stringify(placeNameList);

	        	$.ajax({
	        		   method: "POST", // POST 요청으로 변경
	        		   url: "/city/resinfo",
	        		   contentType: "application/json", // JSON 데이터 전송을 명시
	        		   data: jsonData, // JSON 데이터를 요청 바디에 직접 전송
	        		   success: function(data) {
	        		       // 서버 응답 처리
	        		   },
	        		   error: function(xhr, status, err) {
	        		       alert(err);
	        		   }
	        	});
	        });
	    }
	}
	
	function markerClickEvent(allMarkers){
		for(var i = 0; i < allMarkers.length; i++) {
	        for(var j = 0; j < allMarkers[i].length; j++) {
	            var marker = allMarkers[i][j];
	            marker.clicked = false;
	            kakao.maps.event.addListener(marker, 'click', (function (marker) {
	                return function () {
	                		var placeName = marker.Gb;
			                var position = marker.getPosition();
			                var lat = position.getLat();
			                var lng = position.getLng();
		
			                var iwContent = `<div style="padding:5px;">${placeName}<br><a href="https://map.kakao.com/link/map/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">길찾기</a></div>`;
		
			                var iwPosition = new kakao.maps.LatLng(33.450701, 126.570667);
		
			                // 인포윈도우를 생성합니다
			                var infowindow = new kakao.maps.InfoWindow({
			                    position: iwPosition,
			                    content: iwContent,
			                    removable: true
			                });
			                // 마커 위에 인포윈도우를 표시합니다.
			                infowindow.open(map, marker);	 
			                console.log(`${placeName}`);
	                };
	            })(marker));
	        }
	    }
	} 

	$(".group-do").click(() => {
		var moveLatLon = new kakao.maps.LatLng(36.5, 127.5);
		map.setCenter(moveLatLon);
		map.setLevel(12);
	})
	
	
	function groupDo(regions){

        // 지역을 그룹화할 객체를 생성합니다.
        var groupedRegions = {};
        // 지역 정보를 그룹화합니다.
        regions.forEach(function (region) {
            if (!groupedRegions[region.doName]) {
                groupedRegions[region.doName] = [];
            }
            groupedRegions[region.doName].push(region);
        });
        
        var clusterers = {};
        var infowindows = [];
        for (var groupName in groupedRegions) {
        	// 도 별로 그룹핑
            var group = groupedRegions[groupName];
            var resCount = 0;
			var clusterSize = 1;
			for (var i = 0; i < group.length; i++) {
	            resCount += group[i].resCount;
	        }
			
			clusterers[groupName] = new kakao.maps.MarkerClusterer({
                map: map,
                averageCenter: true,
                clickable: true,
                minLevel: 5,
                minClusterSize: clusterSize,
                texts: [groupName + ' 자원'],
                calculator: [1, 2, 3]
            });

            var markers = [];
            var positions = [];
            for (var i = 0; i < group.length; i++) {
                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(group[i].latitude, group[i].longitude),
                    title: group[i].installPlaceName,
                    clickable: true
                });
                markers.push(marker);
                
                var content = '<div>' + group[i].installPlaceName + '</div>';
                var infowindow = new kakao.maps.InfoWindow({
			        content: content // 인포윈도우에 표시할 내용
    			});
                infowindows.push(infowindow);
                kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
            }
            allMarkers.push(markers);
            clusterers[groupName].addMarkers(markers);
        }
        return clusterers;
	}
	
	// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
	function makeOverListener(map, marker, infowindow) {
	    return function() {
	        infowindow.open(map, marker);
	    };
	}

	// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
	function makeOutListener(infowindow) {
	    return function() {
	        infowindow.close();
	    };
	}
	
    function updatePlace(place) {
        console.log("업데이트 Place: " + place.installPlaceSn);

        // 기존 테이블 행을 삭제합니다.
        $(".place-table-body").empty();

        // 새로운 데이터를 추가합니다.
        var newRow = $("<tr>")
            .append($("<td>").addClass("place-count").text("1"))
            .append($("<td>").addClass("place-name").text(place.installPlaceName))
            .append($("<td>").addClass("place-address").text(place.installPlaceAddress))
            .append($("<td>").addClass("place-detail-address").text(place.installPlaceDetailAddress))
            .append($("<td>").addClass("place-res-count").text(place.resCount));
        // 테이블의 tbody에 새로운 행을 추가합니다.
        $(".place-table tbody").append(newRow);
    }
    
    $(".place-list-container").on("click", ".place-detail-btn", function(){
    	var clickedRow = $(this).closest("tr");
    	
        var placeName = clickedRow.find(".place-name").text();
        var placeAddress = clickedRow.find(".place-address").text();
		var latitude = clickedRow.find(".latitude").val();
		var longitude = clickedRow.find(".longitude").val();
		
        panTo(latitude, longitude);
    });
    
    function panTo(latitude, longitude) {
        // 이동할 위도 경도 위치를 생성합니다 
        var moveLatLon = new kakao.maps.LatLng(latitude, longitude);
        // 지도 중심을 부드럽게 이동시킵니다
        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
        map.setLevel(3);
        map.panTo(moveLatLon);            
    }  
});
	</script>
</th:block>
</html>