<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{../css/employee/employeeview.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="searchBar">

		<div id="empStatus">
			<p id="p1">사원유형</p>
			<select id="empStatusList" name="empStatusList">
				<option value=''>전체</option>
				<option value='EMT001'>IT자원관리자</option>
				<option value='EMT002'>시스템관리자</option>
			</select>
		</div>

		<div id="empType">
			<p id="p2">사원상태</p>
			<select id="empTypeList" name='empTypeList'>
				<option value=''>전체</option>
				<option value='EMS001'>재직중</option>
				<option value='EMS002'>휴직중</option>
				<option value='EMS003'>퇴직</option>
			</select>
		</div>

		<div id="empText">
			<p id="p3">사원ID 및 사원명</p>
			<input type="text">
		</div>

		<input type="submit" id="searchBtn" onclick="searchList()" value="검색" />

	</div>

	<div id="employeeTable">
		<table id="empTable">
			<thead>
				<tr>
					<th>선택</th>
					<th>사원ID</th>
					<th>사원명</th>
					<th>사원유형</th>
					<th>사원상태</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="employeeList : ${employeeList}">
					<td><input type="checkbox" name="emp_chekbox"></td>
					<td th:text="${employeeList.employeeId}" id="employeeId"></td>
					<td th:text="${employeeList.employeeName}"></td>
					<td th:text="${employeeList.employeeStatus}"></td>
					<td th:text="${employeeList.employeeType}"></td>
				<tr>
			</tbody>
		</table>
	</div>

	<input type="button" value="행추가" onclick="addRow()" />
	<input type="button" value="행삭제" onclick="hideRow()" />





	<input type="submit" id="i_submit" onclick="saveList()" value="저장" />







	<script src="js/employee/employee.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</body>
</html>