<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>Bootstrap Example</title>
<head>
<meta charset="utf-8">
<div th:replace="~{../common/fragments/head2 :: fragment-head2}"></div>
<style>
.title-container {
	margin: 15px;
	text-align: center;
}

.search-container {
	display: flex;
}

.search-info {
	margin: 10px 5px 0 0;
	padding: 0 5px 0 0;
}

.refresh-btn-container {
	margin: 10px 0 0 0;
	padding: 5px 5px 5px 0;
}
</style>
</head>
<body>
	<div th:replace="~{../common/fragments/nav2.html :: fragment-nav2}"></div>
	<main id="main" class="main">
	<div class="container">
		<div class="title-container">
			<h2>모니터링ㅎ</h2>
		</div>
		<div class="search-container">
			<div class="search-info">
				<span>대 분 류</span> <select id="resClassLevel1" disabled>
					<option value="HW">하드웨어</option>
				</select>
			</div>
			<div class="search-info">
				<span>중 분 류</span> <select id="resClassLevel2" name="resClassLevel2">
					<option value="A" th:text="전체" th:data-all="all"></option>
					<option th:each="resClassLevel2:${resClassLevel2}"
						th:value="${resClassLevel2.resClassId}"
						th:text="${resClassLevel2.resClassName}"></option>
				</select>
			</div>
			<div class="search-info">
				<span>소 분 류</span> <select disabled id="resClassLevel3"
					name="resClassLevel3">
					<option value="A" th:text="전체" th:data-all="all"></option>
					<option th:each="resClassLevel3:${resClassLevel3}"
						th:value="${resClassLevel3.resClassId}"
						th:data-upper-res-class-id="${resClassLevel3.upperResClassId}"
						th:text="${resClassLevel3.resClassName}"></option>
				</select>
			</div>
			<div class="search-info">
				<span>사용 여부</span> <select id="monitoringYn">
					<option value="Y">전체</option>
					<option value="A">미사용 포함</option>
				</select>
			</div>
			<div class="search-info">
				<span>자원명 <input type="text" name="resName"
					placeholder="자원명을 검색하세요."> <input type="button"
					id="searchBtn" value="조회">
				</span>
			</div>
		</div>
		<div class="refresh-btn-container">
			<input type="button" class="refresh-all-status-btn" value="모든 상태 최신화">
		</div>
		<div class="table-container">
			<form>
				<table id="resInfoTable" class="table table-striped">
					<thead>
						<tr>
							<th>상태</th>
							<th>상태 최신화</th>
							<th>IP 주소</th>
							<th>자원 분류</th>
							<th>자원명</th>
							<th>설치 장소명</th>
							<th>설치 주소</th>
							<th>도입일자</th>
							<th>자원 관리 ID</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="resourceInfo:${resourceInfo}">
							<td class="resInfoTd status" th:if="${resourceInfo.ipStatus == true}">🟢</td>
							<td class="resInfoTd status" th:if="${resourceInfo.ipStatus == false}">🔴</td>
							<td class="refresh"><input type="button" class="refresh"
								value="새로고침" th:data-ip="${resourceInfo.ip}"></td>
							<td class="resInfoTd ip" th:if="${resourceInfo.ip != null}">[[${resourceInfo.ip}]]</td>
							<td class="resInfoTd ip" th:if="${resourceInfo.ip == null}">-</td>
							<td class="resInfoTd resClassPath"
								th:text="${resourceInfo.resClassPath}"></td>
							<td class="resInfoTd resName" th:text="${resourceInfo.resName}"></td>
							<td class="resInfoTd installPlaceName"
								th:text="${resourceInfo.installPlaceName}"></td>
							<td class="resInfoTd installPlaceFullName"
								th:text="${resourceInfo.installPlaceFullAddress}"></td>
							<td class="resInfoTd introductionDate"
								th:text="${resourceInfo.introductionDate}"></td>
							<td class="resInfoTd mgmtId" th:text="${resourceInfo.mgmtId}"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- <div th:replace="~{../common/fragments/footer.html :: fragment-footer}"></div>  -->
	</main>
	<script th:src="@{/assets/js/main.js}"></script>
	<script>
	$(document).ready(function () {
	    $('#resClassLevel2').on("change", function () {
	        var selectedValue = $(this).val();
	        var resClassLevel3 = $('#resClassLevel3');

	        if (selectedValue !== 'all') {
	            resClassLevel3.removeAttr("disabled");
	        } else {
	            resClassLevel3.attr("disabled", "disabled");
	            resClassLevel3.val('all');
	        }

	        var selectedOption = $("option:selected", this);
	        var selectedResClassId = selectedOption.val();

	        resClassLevel3.find("option").hide();
	        resClassLevel3.find("option[data-upper-res-class-id='" + selectedResClassId + "']").show();
	        resClassLevel3.find("option[data-all='all']").show();

	        resClassLevel3.find("option[value='all']").text('전체');

	        resClassLevel3.val('A');

	        $('#resClassLevel2 option[value="all"]').prop('disabled', false);
	    });

	    $('#resClassLevel2 option[value="all"]').on('click', function () {
	        $('#resClassLevel3').val('all');
	        resClassLevel3.find("option[value='all']").text('전체');
	    });

	    $('#searchBtn').on('click', function () {
	        var midResClass = $("#resClassLevel2").val();
	        var bottomResClass = $("#resClassLevel3").val();
	        var resName = $("input[name='resName']").val();
	        var monitoringYn = $("#monitoringYn").val();

	        console.log(midResClass);
	        console.log(bottomResClass);
	        console.log(monitoringYn);
	        console.log(resName);

	        $.ajax({
	            type: 'POST',
	            url: '/search',
	            data: {
	                midResClass: midResClass,
	                bottomResClass: bottomResClass,
	                monitoringYn: monitoringYn,
	                resName: resName
	            },
	            success: function (response) {
	                $('#resInfoTable > tbody tr').remove();

	                if (response.length === 0) {
	                    alert('검색된 결과가 없습니다.');
	                    addTableRow = "<tr>" + "<td colspan='9' style='text-align:center; font-weight: bold;'>" + "검색된 결과가 없습니다." + "</td>" + "</tr>";
	                    $('#resInfoTable > tbody').append(addTableRow);
	                    return;
	                }

	                console.log(response);
	                alert('성공');

	                for (var i = 0; i < response.length; i++) {
	                    const newRow = $("<tr>");
	                    var status;
	                    if(response[i].ipStatus === true){
		                    status = $("<td>").addClass("resInfoTd status").text("🟢");
	                    }else{
	                    	status = $("<td>").addClass("resInfoTd status").text("🔴");
	                    }
	                    const refreshButton = $("<input>").attr({
	                        type: "button",
	                        class: "refresh-btn",
	                        value: "새로고침",
	                        "data-ip": response[i].ip
	                    });
	                    const refresh = $("<td>").addClass("refresh").append(refreshButton);

	                    var ip;
	                    if (response[i].ip !== null) {
	                        ip = $("<td>").addClass("resInfoTd ip").text(response[i].ip);
	                    } else {
	                        ip = $("<td>").addClass("resInfoTd ip").text("-");
	                    }

	                    const resClassPath = $("<td>").addClass("resInfoTd resClassPath").text(response[i].resClassPath);
	                    const resName = $("<td>").addClass("resInfoTd resName").text(response[i].resName);
	                    const installPlaceName = $("<td>").addClass("resInfoTd installPlaceName").text(response[i].installPlaceName);
	                    const installPlaceFullAddress = $("<td>").addClass("resInfoTd installPlaceFullAddress").text(response[i].installPlaceFullAddress);
	                    const introductionDate = $("<td>").addClass("resInfoTd introductionDate").text(response[i].introductionDate);
	                    const mgmtId = $("<td>").addClass("resInfoTd mgmtId").text(response[i].mgmtId);

	                    newRow.append(status);
	                    newRow.append(refresh);
	                    newRow.append(ip);
	                    newRow.append(resClassPath);
	                    newRow.append(resName);
	                    newRow.append(installPlaceName);
	                    newRow.append(installPlaceFullAddress);
	                    newRow.append(introductionDate);
	                    newRow.append(mgmtId);

	                    $('#resInfoTable > tbody').append(newRow);
	                }
	                return;
	            },
	            error: function (error) {
	                console.log('에러:', error);
	            }
	        });
	    });
	    
	    $(".table-container").on("click", "input[type='button']", function(){
	    	var ip = $(this).data("ip");
	    	ip = "1234";
	    	console.log(ip);
	    	if(ip === undefined){
	    		console.log("err");
	    		return;
	    	}
			
	    	var row = $(this).closest("tr"); // 클릭한 버튼이 속한 테이블 행(row)을 선택합니다.
	        var statusElement = row.find(".status");
	    	$.ajax({
	    		method: "GET",
	    		url: "/ip/check",
	    		data: {
	    			ip: ip
	    		},
	    		contentType: "application/json",
	    		success: function(response){
	    			console.log(response)
	    			if(response.code === 400){
	    				// 빨강
	    				statusElement.text("🔴"); 
	    			}
	    			// 초록
	    			statusElement.text("🟢");
	    		},
	    		error: function(xhr, status, err){
	    			console.log(err);
	    		}
	    	})
	    });
	});
</script>
</body>
</html>