h1{
	font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}

.search-container {
	text-align: left;
	margin-top:-20px;
}

.place {
	text-align: center;
	height: 110vh;
	width:100%;
	/* width: 75vw; */
	/* margin-left: 10em; */
}

.place-list-table-container {
	/* font-size: 12px; */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.5);
}

.address-container, .resinfo-container {
	margin-top: 20px; /* 주소 입력창과의 간격 조정 */
	background-color: rgba(255, 255, 255, 0.5);
}

.address-container, .place-list-container {
	text-align: left;
}
/* Style the address-map-container */
.address-map-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	/* Add some spacing between the address container and the map container */
	width: 20vw;
}

.resinfo-container {
	flex: 3;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.place-list-container h2 {
	font-size: 16px;
}

.resinfo-container h2 {
	text-align: left;
	font-size: 16px;
	margin-bottom: 10px;
}
/* Style the heading */
.address-container h2 {
	font-size: 16px;
	margin-bottom: 10px;
}

/* Style the input fields */
.input-box {
	width: 100%;
	margin-bottom: 5px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
}

.zip-code-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: flex-start;
	align-items: center;
}
/* Style the "주소 찾기" button */
.find-postcode-btn {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 8px 12px;
	margin: 5px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease-in-out;
} 

.find-postcode-btn:hover {
	background-color: #0056b3;
}

/* Style the address-map-container */
.address-map-container {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;
	width: 100%;
}

/* Style the address container */
.address-container {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Style the input fields */
.address-input-box {
	width: 100%;
	margin-bottom: 5px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
}

#zip-code {
	width: 30%;
	margin: 0.1em 0 0 0;
}

/* Style the map container */
.map {
	flex: 1;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.fixed-header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

.place-table-container, .resinfo-table-container {
	max-height: 30em; /* 원하는 높이로 조절 */
	overflow-y: auto; /* 세로 스크롤 표시 */
	height: 60%;
}

.paging-nav{
	text-align:center;
}

.btn {
	float: right;
	margin-left: 10px;
}

.install-searchBar{
	display: flex;
	align-items: center; /* 수직 가운데 정렬 */
	flex-direction: row;
	white-space: nowrap;
	background-color: #7289AB; /* 배경 색상 */
	padding: 10px; /* 내부 여백 */
	border: 1px solid #ccc; /* 테두리 스타일 및 색상 */
	border-radius: 3px; /* 둥근 모서리 */
	width: 267px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* 그림자 설정 */
}

.search-name{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
	color: white;
	margin-right: 5px;
}

.place-name-text {
	padding: 3px;
	border: 1px solid #ccc; 
	border-radius: 3px;
	font-size: 14px;
}

.place-name-text::placeholder{
	text-align: center;
}

.installplace-table{
	width:100%;
	table-layout:fixed;
	
}

.installplace-table tr th{
	padding: 10px;
	background-color: #7289AB;
	color: white;
	background-color: #7289AB;
	text-align: center;
}

.installplace-table tr td {
	padding: 10px;
	background-color: #FCFCFC;
}

.installplace-table tr {
	border-bottom: 1px solid #dee2e6; /* 아래쪽 테두리 추가 */
}

.installplace-table tbody tr:hover td {
    background-color: #ECECEC; /* 호버 시 배경색 변경 */
}

.address-span{
	font-size: 15px; 
	font-weight: bold;  
	 display: inline-block;
/* 	 color:white;
	 background-color: #7289AB;
	 padding:3px; */
	
}
