<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{../common/fragments/head}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{../css/additem/additem.css}">
<meta charset="UTF-8">

</head>
<body>
	<div th:replace="~{../common/fragments/nav.html :: fragment-nav}"></div>
	<div class="container" style="margin-left: 270px;" id="addItemSearchBar">
	<span id="title">부가정보항목</span>
		<p>사용여부</p>
			<label><input name="searchUseYN" type="radio" value=""/>미사용포함</label>
			<label><input name="searchUseYN" type="radio" value="Y"/>Y</label>
		<p>부가항목명</p>
		<input id="addItemSearchText" type="text" placeholder="부가항목명 입력">
		<input id="addItemsearchButton" type="button" value="조회" onclick="addItemsearch()"/>
		<div style="margin-left: 850px;">
		
			<form action="/excel/download" method="get">
				<button type="submit">엑셀양식다운로드</button>
			</form>

			<form id="uploadForm" enctype="multipart/form-data">
				<!-- 파일 선택(input) 필드를 버튼으로 대체합니다. -->
				<input type="file" id="fileInput" name="file" accept=".xlsx, .xls"
					style="display: none;">
				<button type="button" onclick="uploadFile()">엑셀업로드</button>
			</form>


			<input id="addItemAddRow" type="button" value="행추가" onclick="addItemAddRow()"/>
			<input id="addItemHideRow" type="button" value="행삭제" onclick="addItemHideRow()"/>
			<input id="addItemSave" type="button" value="저장" onclick="addItemSaveAll()"/>
		</div>
	</div>
	
	<div class="container" style="margin-left: 270px;">
	<div class="table-container">
		<table id="addItemTable" class="table table-striped">
			<thead>
				<tr>
					<th>선택</th>
					<th>상태</th>
					<th>일련번호</th>
					<th>부가항목명</th>
					<th>부가항목설명</th>
					<th>사용여부</th>
				</tr>
			</thead>
			<tbody id="addItem-table-body" class="table-container">
				<tr th:each="addItemList : ${addItemList}">
					<td><input type="checkbox" name="checkBox"></td>
					<td name="addItemStatus"><span name="status">E</span></td>
					<td name="addItemSn" th:text="${addItemList.addItemSn}"></td>
					<td name="addItemName" th:text="${addItemList.addItemName}"></td>
					<td onclick="handleClick(this)" name="addItemDesc" th:text="${addItemList.addItemDesc}"></td>
					<td name="useYN" th:text="${addItemList.useYN}"></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>





	<script src="js/additem/additem.js"></script>
</body>
</html>