<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{../common/fragments/head}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{../css/additem/additem.css}">
<meta charset="UTF-8">

</head>
<body>
	
	<div th:replace="~{../common/fragments/nav.html :: fragment-nav}"></div>
	<div class="container" style="margin-left: 270px;"
		id="addItemSearchBar">
		<span id="title">부가정보항목</span>

		<div class="addItemSerach">
			<p id="p-addItemUseYN">사용여부</p>
			<label class="addItemSerachLabel"><input name="searchUseYN"
				type="radio" value="" /><span class="addItemSerachspan">미사용포함</span></label>
			<label class="addItemSerachLabel"><input name="searchUseYN"
				type="radio" value="Y" /><span class="addItemSerachspan">Y</span></label>
			<p id="p-addItemName">부가항목</p>
			<input id="addItemSearchText" type="text" placeholder="명 입력">
			<button id="addItemsearchBtn" type="button" onclick="addItemsearch()">조회</button>

			<form action="/excel/download" method="get">
				<button type="submit" id="ExcelDownBtn">엑셀양식다운로드</button>
			</form>

			<form id="uploadForm" enctype="multipart/form-data">
				<input type="file" id="fileInput" name="file" accept=".xlsx, .xls"
					style="display: none;">
				<button type="button" id="ExcelUploadBtn" onclick="uploadFile()">엑셀업로드</button>
			</form>

			<button id="addItemAddRowBtn" type="button" onclick="addItemAddRow()">행추가</button>
			<button id="addItemHideRowBtn" type="button"
				onclick="addItemHideRow()">행삭제</button>
			<button id="addItemSaveBtn" type="button" onclick="addItemSaveAll()">저장</button>
		</div>
	</div>

	<div class="container" style="margin-left: 270px;">
		<div class="table-container">
			<table id="addItemTable" class="table table-striped">
				<thead>
					<tr>
						<th>선택</th>
						<th>상태</th>
						<th>일련번호</th>
						<th>부가항목명</th>
						<th>부가항목설명</th>
						<th>사용여부</th>
					</tr>
				</thead>
				<tbody id="addItem-table-body" class="table-container">
					<tr th:each="addItemList : ${addItemList}">
						<td><input type="checkbox" name="checkBox"></td>
						<td name="addItemStatus"><span name="status">S</span></td>
						<td name="addItemSn" th:text="${addItemList.addItemSn}"></td>
						<td name="addItemName" th:text="${addItemList.addItemName}"></td>
						<td onclick="handleClick(this)" name="addItemDesc"
							th:text="${addItemList.addItemDesc}"></td>
						<td name="useYN" th:text="${addItemList.useYN}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="js/additem/additem.js"></script>
</body>
</html>