<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div>
			<h2>MenuBar</h2>
		</div>
		<div>
			<span>중 분 류</span>
			<!-- Level 2 -->
			<select id="resClassLevel2" name="resClassLevel2">
				<option value="all" th:text="전체" th:data-all="all"></option>
				<option th:each="resClassLevel2:${resClassLevel2}"
					th:value="${resClassLevel2.resClassId}"
					th:text="${resClassLevel2.resClassName}"></option>
			</select> <span>소 분 류</span> <select disabled id="resClassLevel3"
				name="resClassLevel3">
				<option value="all" th:text="전체" th:data-all="all"></option>
				<option th:each="resClassLevel3:${resClassLevel3}"
					th:value="${resClassLevel3.resClassId}"
					th:data-upper-res-class-id="${resClassLevel3.upperResClassId}"
					th:text="${resClassLevel3.resClassName}"></option>
			</select> <span>사용 여부</span> <label> <input type="radio"
				name="monitoringYn" value="Y" /> 전체
			</label> <label> <input type="radio" name="monitoringYn" value="A" />
				미사용 포함
			</label> <input type="button" id="searchBtn" value="검색">

			<form action="/search" method="get">
				<input type="text" name="search" placeholder="자원명을 검색하세요.">
				<input type="submit" value="검색">
			</form>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>상태</th>
					<th>호스트</th>
					<th>자원 분류</th>
					<th>자원명</th>
					<th>설치 장소명</th>
					<th>설치 주소</th>
					<th>도입일자</th>
					<th>자원 관리 ID</th>
				</tr>
			</thead>
			<tbody th:each="resourceInfo:${resourceInfo}">
				<tr>
					<td>상태</td>
					<td th:text="${resourceInfo.ip}"></td>
					<td th:text="${resourceInfo.resClassFullName}"></td>
					<td th:text="${resourceInfo.resName}"></td>
					<td th:text="${resourceInfo.installPlaceName}"></td>
					<td th:text="${resourceInfo.installPlaceFullAddress}"></td>
					<td th:text="${resourceInfo.introductionDate}"></td>
					<td th:text="${resourceInfo.mgmtId}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
$(document).ready(function(){
	$('#resClassLevel2').on("change", function(){
        var selectedValue = $(this).val();
        var resClassLevel3 = $('#resClassLevel3');
		
        // 중분류 선택이 'All'이 아니면 소분류 활성화
        if (selectedValue !== 'all') {
            resClassLevel3.removeAttr("disabled");
        } else {
            // 중분류 선택이 'All'인 경우, 소분류 비활성화 및 선택 옵션 초기화
            resClassLevel3.attr("disabled", "disabled");
            resClassLevel3.val('all'); // 선택 옵션을 'All'로 초기화
        }
		
        // 선택된 중분류 값과 소분류의 upperResClassId가 일치하는 옵션만 표시
        var selectedOption = $("option:selected", this);
        var selectedResClassId = selectedOption.val();
        
        // 모든 소분류 옵션 숨기기
        resClassLevel3.find("option").hide();
        // 선택된 중분류와 upperResClassId가 일치하는 소분류 옵션만 표시
        resClassLevel3.find("option[data-upper-res-class-id='" + selectedResClassId + "']").show();
        resClassLevel3.find("option[data-all='all']").show();
        
        resClassLevel3.find("option[value='all']").text('전체');
     	// 중분류 선택 후 소분류 초기화 시 선택된 값 적용
        resClassLevel3.val('all');
     	
    	// 중분류 선택란의 '전체' 옵션을 선택 가능하도록 처리
        $('#resClassLevel2 option[value="all"]').prop('disabled', false);

    });
	// 중분류 선택란의 '전체' 옵션 선택 시 소분류도 '전체'로 선택 가능하도록 처리
    $('#resClassLevel2 option[value="all"]').on('click', function() {
        $('#resClassLevel3').val('all');
        resClassLevel3.find("option[value='all']").text('전체');
    });
	
    $('#searchBtn').on('click', function() {
        // 선택된 중분류와 소분류 값을 가져옴
        var midResClass = $("#resClassLevel2").val();
        var bottomResClass = $("#resClassLevel3").val();

        // 선택된 라디오 버튼 값 가져오기 (사용 여부)
        var monitoringYn = $("input[name='monitoringYn']:checked").val();
		console.log(midResClass);
		console.log(bottomResClass);
		console.log(monitoringYn);
		
        // Ajax 요청을 보냄
        $.ajax({
            type: 'POST', // 또는 'GET', 요청 방식 선택
            url: '/search', // Controller의 URL
            data: {
            	midResClass: midResClass,
            	bottomResClass: bottomResClass,
                monitoringYn: monitoringYn
            },
            success: function(data) {
                // 성공적으로 요청이 완료되면 이곳에서 처리
                alert('성공');
                console.log('서버 응답:', data);
                console.log(data[0]);
                // 이후에 필요한 처리를 추가하십시오.
            },
            error: function(error) {
                // 요청이 실패한 경우 처리
                console.log('에러:', error);
                // 에러 처리를 추가하십시오.
            }
        });
    });
})
</script>

</body>
</html>