<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/css/nav.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" style="clear:both;">
    <!-- Sidebar Start -->
    <div class="left-sidebar" style="clear:both;">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between" style="clear:both;">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="/images/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="" style="clear:both;">
			<ul id="sidebarnav">
	            <li class="nav-small-cap">
	              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
	              <span class="hide-menu">Home</span>
	            </li>
	            <li class="sidebar-item">
	              <a class="sidebar-link" th:href="@{/}" aria-expanded="false">
	                <span>
	                  <i class="ti ti-layout-dashboard"></i>
	                </span>
	                <span class="hide-menu">Monitoring</span>
	              </a>
	            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">IT자원</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/resclass}"aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">IT자원분류</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/resinfo}" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">IT자원</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">ETC</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">IP정보</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/additem}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">부가정보항목</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">설치장소</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/commoncode}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">공통코드</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/employee}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">사원정보</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </div>
    <!--  Sidebar End -->
    </div>
<script th:src="@{/js/nav.js}"></script>
</body>

</html>