table th{
	width:200px;
}

.add-res-class-modal{
    position:absolute;
    display:none;
    
    background-color:#f5f5f5;
    background-color: rgba( 255, 255, 255, 0.5 );
    justify-content: center;
    top:20;
    left:50;

    width:50%;
    height:50%;
}

.modal.modal-center {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}

.second-container{
	border-radius: 10px; /* 테두리 모서리를 둥글게 */
    padding: 20px;
    background-color: white;
    width: 75%; 
    padding-bottom: 20px; 
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
}
.first-container{
	border-radius: 10px; /* 테두리 모서리를 둥글게 */
    padding: 20px;
    background-color: white;
    width: 20%; 
    padding-bottom: 20px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

