#searchBar {
    display: flex;
    align-items: center; /* 내부 요소들을 수직 가운데 정렬 */
    white-space: nowrap;
}
#p1, #p2, #p3{
	margin-top : 10px;
	margin-left:5px;
	margin-right:5px;
}

#searchButton{
	margin-left:450px;
}

/* 테이블 컨테이너에 스타일링 추가 */
.table-container {
    max-height: 1000px; 
    overflow-y: auto; 
    position: relative; 
}

.table-container table {
    width: 100%;
}

.table-container thead {
    position: sticky;
    top: 0;
    background-color: #fff;
}

#title{
	font-size:20px;
	
}

.saveBtn{
	background-color: navy;
    color: white;
}

.addRowBtn{
    background-color: skyblue;
    color: white;
	border: 2px solid skyblue;
}

.hideRowBtn{
    background-color: skyblue;
    color: white;
    border: 2px solid skyblue;
}

.chechBtn{
	background-color: lightgray;
	border: 2px solid lightgray;
}