.searchBar {
	display: flex;
	align-items: center; /* 수직 가운데 정렬 */
	flex-direction: row;
	white-space: nowrap;
	background-color: #7289AB; /* 배경 색상 */
	padding: 10px; /* 내부 여백 */
	border: 1px solid #ccc; /* 테두리 스타일 및 색상 */
	border-radius: 3px; /* 둥근 모서리 */
	width: 570px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* 그림자 설정 */
}

#searchEmpType, #searchEmpStatus, #searchEmpText {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
	color: white;
	margin-right: 5px;
}

#searchEmpType, #searchEmpStatus, #searchEmpText {
	margin-right: 10px;
	font-size: 14px;
}

#searchEmpTypeList, #searchEmpStatusList, #searchText {
	padding: 3px;
	border: 1px solid #ccc; 
	border-radius: 3px;
	font-size: 14px;
}

#searchEmpType {
	margin-right: 10px;
}

#searchEmpTypeList {
	margin-right: 10px;
}

#searchEmpStatus {
	margin-left: 5px;
	margin-right: 10px;
}

#searchEmpStatusList {
	margin-right: 10px;
}

#searchEmpText {
	margin-left: 5px;
	margin-right: 5px;
}

#searchText::placeholder {
	text-align: center;
}

.btn {
	float: right;
	margin-left: 10px;
}

.employee-table-container {
	max-height: 700px;
	overflow-y: auto;
}

.employee-table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.employee-thead {
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

.employee-table tr th {
	padding: 10px;
	background-color: #7289AB;
	color: white;
	background-color: #7289AB;
}

.employee-table tr td {
	padding: 10px;
	background-color: #FCFCFC;
}

.employee-table tr {
	border-bottom: 1px solid #dee2e6; /* 아래쪽 테두리 추가 */
}

.employee-table tbody tr:hover td {
    background-color: #ECECEC; /* 호버 시 배경색 변경 */
}


.employee-table tbody tr:hover input.employee-input {
    background-color: #ECECEC; /* 호버 시 <input> 요소의 배경색 변경 */
}

.employee-table tbody tr td input.employee-input:focus {
    background-color: white; /* 입력란이 활성화 상태일 때 <input> 요소의 배경색 변경 */
	padding: 0px;
}

.employee-pwd{
	text-align: center;
	border: none; 
	width: 190px; 
	height: 25px; 
	padding: 1px;
}

.employee-name{
	text-align: center;
	border: none; 
	width: 100px; 
	padding: 1px;
}


.col-empCheckBox {
	width: 5%;
}

.col-Status {
	width: 5%;
}

.col-empId {
	width: 20%;
}

.col-empPwd {
	width: 20%;
}

.col-empName {
	width: 20%;
}

.col-empType {
	width: 15%;
}

.col-empStatus {
	width: 15%;
}


