

#searchBar {
    display: flex;
   	align-items: flex-start; /* 요소들을 수직 맞춤합니다. */
	flex-direction: row;
    white-space: nowrap;
}


#searchEmpType{
	margin-left:5px;
	margin-right:10px;
}

#searchEmpTypeList{
	margin-right:10px;
}

#searchEmpStatus{
	margin-left:5px;
	margin-right:10px;
}

#searchEmpStatusList{
	margin-right:10px;
}
#searchEmpText{
	margin-left:5px;
	margin-right:5px;
}

#searchText{
	margin-top:-4px;
}

#searchText::placeholder {
  text-align: center; /* 가운데 정렬 스타일 적용 */
}



/* 테이블 컨테이너에 스타일링 추가 */
.table-container {
    max-height: 700px; 
    overflow-y: auto; 
    position: relative; 
}

.table-container table {
    width: 100%;
     text-align: center;
     table-layout: fixed;
} 

.table-container thead th {
    position: sticky;
    top: 0;
    background-color: #7289AB; 
	color : white;
	z-index: 1;
}

.btn {
	float: right; 
	margin-left: 10px;
}

.col-empCheckBox{
	width:5%;
}

.col-Status{
	 width: 5%;
}

.col-empId{
	width:20%;
}

.col-empPwd{
	width:20%;
}

.col-empName{
	width:20%;
}

.col-empType{
	width:15%;
}

.col-empStatus{
	width:15%;
}

